<?xml version="1.0"?>
<config>
	<sections>
		<general translate="label" module="test">
			<label>Artem</label>
			<tab>testconfig</tab>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label comment">
					<label>Artem</label>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<test_data translate="label comment">
							<label>Test text block</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</test_data>
					</fields>
				</general>
			</groups>
		</general>
	</sections>
</config>
